<!-- Events Grid Section -->
    <section id="events" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Schedule</h2>
                    <h3 class="section-subheading text-muted">Tentative Schedule for the OHSU Data Science Institute:</h3>
                </div>
            </div>
            
<html>
<head>
<style>
table, th, td {
    border: 1px solid black;
}
th, td {
    padding: 4px;
    text-align: left;
    border-bottom: 1px solid #0820a6;
}    
</style>
</head>
<body>

<table style="width:100%">
<table align="center">
  <tr>
    <th>Day 1, Mon, Nov 6</th>
    <th>Time</th> 
      <th>Instructor</th> 
      <th>Location</th> 
  </tr>
  <tr>
    <td>Registration and Welcome</td>
    <td>9-10AM</td>
    <td>ODSI organizers</th> 
    <th>Room TBD</th> 
  </tr>
  <tr>
    <td>Version Control with Git and Github</td>
    <td>10-11:30AM</td>
    <td>TBD</th> 
    <th>Room TBD</th> 
  </tr>
  <tr>
    <td>LUNCH</td>
    <td>11:30-1PM</td>
    <td>Lunch on your own</th> 
  </tr>
  <tr>
    <td>Data exploration, Part 1</td>
    <td>1-2PM</td>
    <td><a href="http://laderast.github.io/" target="_blank">Ted Laderas</a></th> 
    <th>Room TBD</th> 
  </tr>
  <tr>
    <td>BREAK</td>
    <td>2-2:15PM</td>
    <td></th> 
  </tr>
  <tr>
    <td>Data exploration, Part 2</td>
    <td>2-3PM</td>
    <td><a href="http://laderast.github.io/" target="_blank">Ted Laderas</a></th>
    <th>Room TBD</th>  
  </tr>
  <tr>
    <td>Statistical Analysis</td>
    <td>3-4PM</td>
    <td><a href="http://www.ohsu.edu/people/jessica-minnier/AFE05953018130F59A91D6FC11AC9E4E" target="_blank">Jessica Minnier</a></th> 
    <th>Room TBD</th> 
  </tr>
    <tr>
    <td></td>
    <td></td>
  </tr>

    <th>Day 2, Tues, Nov 7</th>
    <th>Length of time</th> 
    <th>Instructor</th> 
    <th>Location</th> 
  </tr>
  <tr>
    <td>Data Description, Sharing, and Reuse; Publisher and Funder Data Use Agreements, Part 1</td>
    <td>10-12:30PM</td>
    <td><a href="http://www.ohsu.edu/people/letisha-wyatt/AFE074DABB7E42EC404070E049E85AA3" target="_blank">Letisha Wyatt</a>, <a href="http://www.ohsu.edu/people/robin-champieux/AFE04F2AE63DD7E739B6BE6A00B02545" target="_blank">Robin Champieux</a>, and <a href="http://www.ohsu.edu/people/nicole-vasilevsky/AFE02EDDEA27ECE3D94EFA42F7295044" target="_blank">Nicole Vasilevsky</a></th> 
    <th>Room TBD</th> 
  </tr>
  <tr>
    <td>BREAK</td>
    <td>11-11:15AM</td>
    <td></th> 
  </tr>
  <tr>
    <td>Data Description, Sharing, and Reuse; Publisher and Funder Data Use Agreements, Part 2</td>
    <td>11:15AM-12:30PM</td>
    <td><a href="http://www.ohsu.edu/people/letisha-wyatt/AFE074DABB7E42EC404070E049E85AA3" target="_blank">Letisha Wyatt</a>, <a href="http://www.ohsu.edu/people/robin-champieux/AFE04F2AE63DD7E739B6BE6A00B02545" target="_blank">Robin Champieux</a>, and <a href="http://www.ohsu.edu/people/nicole-vasilevsky/AFE02EDDEA27ECE3D94EFA42F7295044" target="_blank">Nicole Vasilevsky</a></th> 
    <th>Room TBD</th> 
  </tr>
  <tr>
    <td>LUNCH</td>
    <td>12:30-2PM</td>
    <td>Lunch on your own</th> 
  </tr>
  <tr>
    <td>Biomedical Data Standards</td>
    <td>2-3PM</td>
    <td><a href="http://www.ohsu.edu/xd/education/library/about/staff-directory/lilly-winfree.cfm" target="_blank">Lilly Winfree</a></th> 
    <th>Room TBD</th> 
  </tr>
  <tr>
    <td>Qualitative data analysis</td>
    <td>3-5PM</td>
    <td><a href="http://www.ohsu.edu/xd/education/schools/school-of-medicine/departments/clinical-departments/family-medicine/research-scholarship/patty-carney-phd.cfm" target="_blank">Patty Carney</a></th> 
    <th>Room TBD</th> 
  </tr>
    </tr>
    <tr>
    <td></td>
    <td></td>
  </tr>
    
  <th>Day 3, Wed, Nov 8</th>
    <th>Length of time</th> 
    <th>Instructor</th> 
  </tr>
  <tr>
    <td>TRACK 1: Analyzing Textual Data</td>
    <td>10-12PM</td>
    <td><a href="http://www.ohsu.edu/people/steven-bedrick/AFE030DC0105BCAADF25F347202D56DF" target="_blank">Steven Bedrick</a></th> 
    <th>Room TBD</th> 
  </tr>
  <tr>
    <td>TRACK 2: Web Scraping</td>
    <td>10-12PM</td>
    <td><a href="http://www.ohsu.edu/people/steven-bedrick/AFE030DC0105BCAADF25F347202D56DF" target="_blank">Kyle Banerjee</a></th> 
    <th>Room TBD</th> 
  </tr>
  <tr>
    <td>LUNCH</td>
    <td>12:30-2PM</td>
    <td>Lunch on your own</th> 
  </tr>
  <tr>
    <td>TRACK 1: Data Visualization</td>
    <td>1:30-3PM</td>
    <td><a href="http://www.ohsu.edu/people/steven-bedrick/AFE030DC0105BCAADF25F347202D56DF" target="_blank">Steven Bedrick</a> and <a href="http://www.ohsu.edu/people/jackie-wirz/AFE0340AA0CFBBF14A1E5F3B8B4F8A69" target="_blank">Jackie Wirz</a></th> 
    <th>Room TBD</th> 
  </tr>
  <tr>
    <td>TRACK 2: Mapping and Geospatial Visualization with QGIS</td>
    <td>1:30-3PM</td>
    <td>TBD</th> 
    <th>Room TBD</th> 
  </tr>
  
</table>

</body>
</html>


</div>
            </div>
        </div>
    </section>

             
