<!-- Events Grid Section -->
    <section id="events" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Schedule</h2>
                    <h3 class="section-subheading text-muted">Tentative Schedule for the OHSU Data Science Institute:</h3>
                </div>
            </div>
            
<html>
<head>
<style>
table, th, td {
    border: 1px solid black;
}
th, td {
    padding: 4px;
    text-align: left;
    border-bottom: 1px solid #0820a6;
}    
</style>
</head>
<body>

<table style="width:100%">
<table align="center">
  <tr>
    <th>Day 1, Mon, Nov 6</th>
    <th>Length of time</th> 
      <th>Instructor</th> 
  </tr>
  <tr>
    <td>Data exploration</td>
    <td>2 hours</td>
    <td><a href="http://laderast.github.io/" target="_blank">Ted Laderas</a></th> 
  </tr>
  <tr>
    <td>Statistical Analysis</td>
    <td>1 hour</td>
    <td><a href="http://www.ohsu.edu/people/jessica-minnier/AFE05953018130F59A91D6FC11AC9E4E" target="_blank">Jessica Minnier</a></th> 
  </tr>
  <tr>
    <td>Data Visualization</td>
    <td>3 hours</td>
    <td><a href="http://www.ohsu.edu/people/jackie-wirz/AFE0340AA0CFBBF14A1E5F3B8B4F8A69" target="_blank">Jackie Wirz</a></th> 
  </tr>
    <tr>
    <td></td>
    <td></td>
  </tr>

    <th>Day 2, Tues, Nov 7</th>
    <th>Length of time</th> 
    <th>Instructor</th> 
  </tr>
  <tr>
    <td>Version Control with Git and GitHub</td>
    <td>1 hour</td>
    <td>TBD</th> 
  </tr>
  <tr>
    <td>Data Description, Sharing, and Reuse</td>
    <td>2.5 hours</td>
    <td><a href="http://www.ohsu.edu/people/letisha-wyatt/AFE074DABB7E42EC404070E049E85AA3" target="_blank">Letisha Wyatt</a> and <a href="http://www.ohsu.edu/people/nicole-vasilevsky/AFE02EDDEA27ECE3D94EFA42F7295044" target="_blank">Nicole Vasilevsky</a></th> 
  </tr>
  <tr>
    <td>Publisher and Funder Data Use Agreements</td>
    <td>2 hours</td>
    <td><a href="http://www.ohsu.edu/people/robin-champieux/AFE04F2AE63DD7E739B6BE6A00B02545" target="_blank">Robin Champieux</a></th> 
  </tr>
  <tr>
    <td>Qualitative data analysis</td>
    <td>1 hour</td>
    <td>TBD</th> 
  </tr>
    </tr>
    <tr>
    <td></td>
    <td></td>
  </tr>
    
  <th>Day 3, Wed, Nov 8</th>
    <th>Length of time</th> 
    <th>Instructor</th> 
  </tr>
  <tr>
    <td>Bibliometric Analysis</td>
    <td>1.5 hours</td>
    <td><a href="http://www.ohsu.edu/people/robin-champieux/AFE04F2AE63DD7E739B6BE6A00B02545" target="_blank">Robin Champieux</a></th> 
  </tr>
  <tr>
    <td>Web Scraping</td>
    <td>2 hours</td>
    <td>TBD</th> 
  </tr>
  <tr>
    <td>Analyzing Textual Data</td>
    <td>1.5 hours</td>
    <td><a href="http://www.ohsu.edu/people/steven-bedrick/AFE030DC0105BCAADF25F347202D56DF" target="_blank">Steven Bedrick</a></th> 
  </tr>
  <tr>
    <td>Mapping and Geospatial Visualization with QGIS</td>
    <td>1.5 hour</td>
    <td>TBD</th> 
  </tr>
  
</table>

</body>
</html>


</div>
            </div>
        </div>
    </section>

             
