<!-- Events Grid Section -->
    <section id="events" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Schedule</h2>
                    <h3 class="section-subheading text-muted">Tentative Schedule for the OHSU Data Science Institute:</h3>
                </div>
            </div>
            
<html>
<head>
<style>
table, th, td {
    border: 1px solid black;
}
th, td {
    padding: 4px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}    
</style>
</head>
<body>

<table style="width:100%">
<table align="center">
  <tr>
    <th>Day 1, Mon, Nov 6</th>
    <th>Length of time</th> 
  </tr>
  <tr>
    <td>Data exploration</td>
    <td>2 hours</td>
  </tr>
  <tr>
    <td>Statistical Analysis</td>
    <td>1 hour</td>
  </tr>
  <tr>
    <td>Data Visualization</td>
    <td>3 hours</td>
  </tr>
    <tr>
    <td></td>
    <td></td>
  </tr>

    <th>Day 2, Tues, Nov 7</th>
    <th>Length of time</th> 
  </tr>
  <tr>
    <td>Version Control with Git and GitHub</td>
    <td>1 hour</td>
  </tr>
  <tr>
    <td>Data Description, Sharing, and Reuse</td>
    <td>2.5 hours</td>
  </tr>
  <tr>
    <td>Data Cleaning and Preparation</td>
    <td>2 hours</td>
  </tr>
  <tr>
    <td>Qualitative data analysis</td>
    <td>1 hour</td>
  </tr>
   <tr>
    <td>Publisher and Funder Data Use Agreements</td>
    <td>1 hour</td>
  </tr>
    </tr>
    <tr>
    <td></td>
    <td></td>
  </tr>
    
  <th>Day 3, Wed, Nov 8</th>
    <th>Length of time</th> 
  </tr>
  <tr>
    <td>Bibliometric Analysis</td>
    <td>1.5 hours</td>
  </tr>
  <tr>
    <td>Web Scraping</td>
    <td>2 hours</td>
  </tr>
  <tr>
    <td>Analyzing Textual Data</td>
    <td>1.5 hours</td>
  </tr>
  <tr>
    <td>Mapping and Geospatial Visualization with QGIS</td>
    <td>1.5 hour</td>
  </tr>
  
</table>

</body>
</html>


</div>
            </div>
        </div>
    </section>

             
